body{
  background-color: #ffc10785;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  flex-direction: column;
  margin-top: 70px;
}
.build-your-own{
  font-family: "Fustat";
}
.meal-planner{
  font-family: "Coromorant Garamond";
    font-weight: 100;
    font-size: 56px;
}
.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  
}
.food-label-bg{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}
.food-label{
display: flex;
height: 110px;
width: 160px;
outline: none;
align-items: center;
justify-content: center;
background-color:#e31d1d;
border-radius: 5px;
text-align: center;
font-size: 25px;
color: white;
}
.tile {
  font-family: 'Noto Sans';
  display: flex;
  height: 110px;
  width: 140px;
  outline: solid rgb(222, 204, 43) 1px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  color:brown;
}
.tile:hover{
  cursor: pointer;
}
.line {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}
.btn{
  background-color: black !important;
  border: none;
}
.btn:hover{
  background-color: brown !important;
}